<div align="center">
<%= image_tag("bookstore.jpg", :size => "200x200") %>
</div>

<h1><font color="#6600CC">Welcome To The Bookstore Website</h1>
<br>
<br>

<h2><font color="#336699"> Our bookstore is currently the most popular online bookstore!</h2></font>

<br>
<h2><font color"#336699">Already registered with us?</font></h2>
<h2><font color"#6600CC">Sign in below... </h2></font>
<p>
<h2 id= "link"> <%= link_to "Sign In", signin_path %> </h2>
</p>

<br>
<h2><font color="#336699">Alternatively, you can register here: </h2></font>
<h2 id= "link"> <%= link_to "Register", new_customer_path %></h2>

</p>
<br>