<h1><font color="#0000CC">Welcome To Our Bookstore Website</h1>
<br>
<br>

<h2><font color="#3366CC"> Our bookstore is currently the most popular online bookstore!</h2></font>

<br>
<h2><font color"#3366CC">Already registered with us?</font></h2>
<p>
<h2 id= "link"> <%= link_to "Sign In", signin_path %> </h2>
</p>

<br>
<h2><font color="#3366CC">Or you can register here: </h2></font>
<h2 id= "link"><%= link_to "Register", new_customer_path %></h2>

</p>
<br>